.left {
    text-align: left;
}

.stylized {
    font-family: fantasy;
}

.center {
    text-align: center;
}

.blackbg {
    background-color: black;
}

.white {
    color: white;
}

.imageborder {
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
}

.imgdivmargin {
    margin-top: 20%;
}

@keyframes fadein {
    0%    { opacity: 1; }
    50%   { opacity: 0.50; }
    100%  { opacity: 1; }
}

/* Use some wizardry and make this randomized! */
@keyframes neonblink {
    0%    { text-shadow: 2px 2px 6px #507; }
    10%   { text-shadow: 2px 2px 6px #000; }
    20%   { text-shadow: 2px 2px 6px #507; }
    30%   { text-shadow: 2px 2px 6px #305; }
    40%   { text-shadow: 2px 2px 6px #608; }
    50%   { text-shadow: 2px 2px 6px #709; }
    60%   { text-shadow: 2px 2px 6px #204; }
    65%   { text-shadow: 2px 2px 6px #709; }
    70%   { text-shadow: 2px 2px 6px #000; }
    80%   { text-shadow: 2px 2px 6px #305; }
    90%   { text-shadow: 2px 2px 6px #709; }
    100%  { text-shadow: 2px 2px 6px #204; }
}

#title {
    opacity: 0.50;
    animation-name: fadein;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#projectsubheader {
    text-shadow: 2px 2px 6px #507;
    animation-name: neonblink;
    animation-timing-function: step-start;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

div.prettylist {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background-color: #111;
    position: relative;
    max-width: 20%;
    max-height: 50%;
    border-radius: 4px;
    margin: 0 auto;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    div.prettylist {
        max-width: 70%;
    }
}

.button {
    border-radius: 4px;
    background-color: #406;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 3px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10%;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.spacer {
    width: 100%;
    height: 5%;
    margin-top: 2%;
}
