.left {
    text-align: left;
}

.stylized {
    font-family: fantasy;
    color: #660055;
}

.center {
    text-align: center;
}

.blackbg {
    background-color: black;
}

.white {
    color: white;
}

.imageborder {
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
}

.imgdivmargin {
    margin-top: 20%;
}


div.prettylist {
    background-color: #111;
    position: relative;
    width: 20%;
    border-radius: 4px;
    margin: 0 auto;
}

.button {
    border-radius: 4px;
    background-color: #909;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 3px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3px;
    float: none;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10%;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.spacer {
    width: 100%;
    height: 5%;
    margin-top: 2%;
}
